# Neon
# - 런타임(Lambda/HTTP)은 -pooler URL 권장
DATABASE_URL_POOLED=postgresql://USER:PASSWORD@HOST-pooler.neon.tech/DB?sslmode=require
# - 관리 작업은 direct URL 권장
DATABASE_URL_DIRECT=postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require

# AWS
AWS_REGION=ap-northeast-2
SQS_OUTBOX_QUEUE_URL=https://sqs.ap-northeast-2.amazonaws.com/123456789012/OutboxDispatchQueue.fifo
