AWS_REGION=ap-northeast-2
AWS_ROLE_TO_ASSUME=arn:aws:iam::123456789012:role/github-actions-deploy-role
SAM_STACK_NAME=clean-ddd-prod
SAM_S3_BUCKET=clean-ddd-prod-artifacts
FRONTEND_S3_BUCKET=clean-ddd-prod-web
CLOUDFRONT_DISTRIBUTION_ID=E123PRODEXAMPLE
DYNAMODB_AVATAR_TABLE=clean-ddd-avatar-prod
AVATAR_REPOSITORY_BACKEND=dynamodb
OUTBOX_DISPATCH_SCHEDULE_EXPRESSION=rate(45 minutes)
API_CLOUDFRONT_ALLOWED_CIDRS=12.34.56.0/24,13.24.0.0/16
PRIVATE_API_VPCE_IDS=vpce-021b1473ca28d5cb9
EDGE_ORIGIN_VERIFY_HEADER_VALUE=19c46a5200a6f1b33a0d3c12771b65d6ef79368de46b063673e2b42d6e2b9064
